body {
	font-family: Helvetica;
}
h1 {
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url('./images/pattern.jpeg');
}
h2 {
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-align: center;
}
h3{
	text-align: center;
}
p{
	text-align: center;
}
a{
	font-weight: bold;
}
.title-branches {
	background-color: mediumspringgreen;
}
.title-frames {
	background-color: lightcoral;
}
.title-paint {
	background-color: skyblue;
}